/* HEADER */

header{
    background-color: #2c3e50;
    color:white;
}

.logo{
    font-weight: bold;
}

header ul{
    list-style: none;
}

header li{
    padding: 1.5rem .625rem;
}

header a{
    color: white;
    text-decoration: none;
    font-size: .875rem;
}
/* /HEADER */

/* MAIN */

/* HERO */

.hero{
    background-color: #1abc9c;
    color: white;
}

.hero img{
    max-width: 14.375rem;
    margin-left: auto;
    margin-right: auto;
}

/* /HERO */

/* PORTFOLIO */

.portfolio{
    color: #333333;
}

.portfolio img{
    max-width: 100%;
}

.card{
    max-width: 100%;
    --bs-card-border-width: 0px;
}

/* /PORTFOLIO */

/* ABOUT */

.about{
    background-color: #1abc9c;
    color: white;
}

/* /ABOUT */

/* CONTACT ME */

/* /CONTACT ME */

/* /MAIN */

/* FOOTER */

/* FOOTER-INFO */

footer{
    background-color: #3a546d;
    color: white;
}

footer a{
    text-decoration: none;
    color: #1abc9c;
}

/* /FOOTER */