/* CORE */
@import url(variables.css);
@import url(utilities.css);
/* /CORE */


/* HEADER */

header{
    color:white;
}

.navbar{
    padding: 0;
}

.logo{
    font-weight: bold;
}

header .collapse{
    justify-content: flex-end;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: .875rem;
}
/* /HEADER */

/* MAIN */

/* HERO */

.hero{
    color: white;
}

.hero img{
    max-width: 14.375rem;
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    font-size: 1.25rem;
}

.spacer::after {
    content: '';
    width: 8.125rem;
    height: .125rem;
    background-color: currentColor;
    border-color: currentColor;
    display: block;
    margin-left: 20px;
}

.spacer::before {
    content: '';
    width: 8.125rem;
    height: .125rem;
    background-color: currentColor;
    border-color: currentColor;
    display: block;
    margin-right: 20px;
}
/* /HERO */

/* PORTFOLIO */

.portfolio{
    color: #333333;
}

.portfolio img{
    max-width: 100%;
}

.card{
    max-width: 100%;
    --bs-card-border-width: 0px;
}

/* /PORTFOLIO */

/* ABOUT */

.about{
    color: white;
}

/* /ABOUT */

/* CONTACT ME */

/* /CONTACT ME */

/* /MAIN */

/* FOOTER */

footer{
    color: white;
}

footer a{
    text-decoration: none;
    color: #1abc9c;
}
/* /FOOTER */