/* BACKGROUND COLORS */
.ms-bg-primary {
    background-color: var(--ms-primary-color);
}
.ms-bg-secondary {
    background-color: var(--ms-secondary-color);
}
.ms-bg-secondary-light {
    background-color: var(--ms-secondary-color-light);
}
/* /BACKGROUND COLORS */

/* COLORS */
.ms-color-primary{
    color:var(--ms-primary-color)
}
.ms-color-secondary {
    color:var(--ms-secondary-color);
}
.ms-color-secondary-light {
    color:var(--ms-secondary-color-light)
}

/* /COLORS */

/* CONTAINER */
.ms-container-small {
    max-width: 61.25rem;
    width: 80%;
}
/* /CONTAINER */