/* BACKGROUND COLORS */
.ms-bg-primary {
    background-color: var(--ms-primary-color);
}
.ms-bg-secondary {
    background-color: var(--ms-secondary-color);
}
.ms-bg-secondary-light {
    background-color: var(--ms-secondary-color-light);
}
/* /BACKGROUND COLORS */

/* COLORS */

/* /COLORS */

/* CONTAINER */

/* /CONTAINER */